# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA 폴더 및 설정 파일 무시
/compiler.xml
/gradle.xml
/jarRepositories.xml
/laboratory.iml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
